h5{
    text-align: center;
}

#caption{
    text-align: center;
}

#slides{
    text-align: center;
    display: none;
}

#slide{
    display: block;
    max-width: 400px;
    margin: 10px auto;
    height: auto;
    cursor: pointer;
}